@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 


<h2>Dashboard</h2>
@if (TempData["SM"] != null)
{
    <div class="alert-success">
        <p>@TempData["SM"]</p>
    </div>
}

